<style>
  @media (max-width: 768px) {
    #embedContent {
      width: 100%;
      height: 600px;
    }

    .block {
      margin-top: 0;
    }
  }
</style>

<div class="container mt-4">
  <div class="d-lg-flex flex-lg-row gap-3">
    <div>
      <embed
        id="embedContent"
        src="<%= data.filePath %>"
        width="620"
        height="720"
        type="application/pdf"
      />
    </div>

    <div class="col-lg-5">
      <div class="block mt-5 ms-4">
        <h3><%= data.title %></h3>
        <p>Place <strong><%= data.place %></strong></p>
        <p>Education Period <strong><%= data.educationPeriod %></strong></p>
        <p>Date of receiving <strong><%= data.dateOfReceiving %></strong></p>
        <% if (data.credentialID) { %>
        <p>Certificate ID <strong><%= data.credentialID %></strong></p>
        <% } %> <% if (data.expiredDate) { %>
        <p>Expired date <strong><%= data.expiredDate %></strong></p>
        <% } %>
      </div>
    </div>
  </div>
</div>
