<li class="nav-item">
  <a
    href="/api/mean"
    class="nav-link align-middle px-0 <%= data.key === 'MEAN' ? ' link-primary' : ' link-light' %>"
  >
    <i class="fs-4 bi-house"></i>
    <span class="ms-1 d-none d-sm-inline"
      >MEAN Course</span
    >
  </a>
</li>
<li class="nav-item">
  <a
    href="/api/deutsch-a2"
    class="nav-link align-middle px-0 <%= data.key === 'DEUTSCH' ? ' link-primary' : ' link-light' %>"
  >
    <i class="fs-4 bi-house"></i>
    <span class="ms-1 d-none d-sm-inline"
      >Deutsch A2 PRÜFUNG</span
    >
  </a>
</li>
<li class="nav-item">
  <a
    href="/api/polytechnic"
    class="nav-link align-middle px-0 <%= data.key === 'POLYTECHNIC' ? ' link-primary' : ' link-light' %>"
  >
    <i class="fs-4 bi-house"></i>
    <span class="ms-1 d-none d-sm-inline"
      >Lviv Polytechnic National University</span
    >
  </a>
</li>
<li class="nav-item">
  <a
    href="/api/logos"
    class="nav-link align-middle px-0 <%= data.key === 'LOGOS' ? ' link-primary' : ' link-light' %>"
  >
    <i class="fs-4 bi-house"></i>
    <span class="ms-1 d-none d-sm-inline">Logos IT Academy</span>
  </a>
</li>
<li class="nav-item">
  <a
    href="/api/bootstrap"
    class="nav-link align-middle px-0 <%= data.key === 'BOOTSTRAP' ? ' link-primary' : ' link-light' %>"
  >
    <i class="fs-4 bi-house"></i>
    <span class="ms-1 d-none d-sm-inline">HTML CSS BOOTSTRAP</span>
  </a>
</li>
